/*Configuração da área de trabalho - body aplica o estilo a toda a pagina*/
html,
body {
    height: 100%;
    margin: 30;
}

body {
    background-image: url("img/pFundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*------------------------------------------------------------------------------*/
/*Alinhamento do Cabeçalho*/
h1 {
    color: rgb(253, 253, 253, 0.6);
    text-align: center;
}
/*------------------------------------------------------------------------------*/
h2 {
    color: rgba(161, 156, 156, 0.8);
}
/*------------------------------------------------------------------------------*/
/*Configurando Área de Adicionar Itens*/
.inCard {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /*Margem entre a caixa de texto e a tabela*/
}

/*------------------------------------------------------------------------------*/

.inCard input {
    padding: 10px;
    /*Altura da caixa de texto*/
    width: 500px;
    /*comprimento da caixa de texto*/
}

.card.selecionado {
    border: 2px solid rgb(226, 226, 158);
    background-color: rgba(34, 83, 57, 0.3);
    transform: scale(1.03);
    transition: 0.2s;
}

.card.entrar {
    border: 2px solid rgb(44, 19, 126);
    background-color: rgba(255, 255, 0, 0.3);
    transform: scale(1.03);
    transition: 0.2s;
}


.inCard button {
    padding: 10px;
    margin-left: 10px;
    /*Distância entre a caixa de texto e a caixa do buton*/
    cursor: pointer;
}

.colunas {
    display: flex;
    /*Permite que as colunas fiquem lado a lado*/
    gap: 10px
}

/*configurações das colunas, centralização, cor */
.coluna {
    flex: 1;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 25px;
    border: solid 2px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.card.concluido {
    text-decoration: line-through;
    opacity: 0.6;
    background-color: rgba(0, 255, 0, 0.2);
}

button {
    border-radius: 7px;
    background-color: rgba(159, 202, 159, 0.4);
    color: aliceblue;
}

input {
    border-radius: 7px;
    background-color: rgba(159, 202, 159, 0.4);

}

#inBox::placeholder {
    color: white;
}
/*Mudança da cor do texto que digita*/
#inBox {
    color: rgb(255, 252, 252);
}

.card {
    background-color: rgba(159, 202, 159, 0.4);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: grab;
    color: rgba(255, 255, 255, 0.7);
    
}

@media (max-width: 600px) {
    .Colunas {
        flex-direction: column;
    }
}