    /*Configuração da área de trabalho - body aplica o estilo a toda a pagina*/
body {
    
    font-family: Arial;
    margin: 10;
    padding: 50px;
    background-color: #c1d7ed;
}
/*Alinhamento do Cabeçalho*/
h1{
    text-align: center;
}

/*Configurando Área de Adicionar Itens*/
.inCard{
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /*Margem entre a caixa de texto e a tabela*/
}

/**/
.inCard input{
    padding: 10px;/*Altura da caixa de texto*/
    width: 500px; /*comprimento da caixa de texto*/
}

.inCard button{
    padding: 10px;
    margin-left: 10px;/*Distância entre a caixa de texto e a caixa do butron*/
    cursor: pointer
}

.Colunas{
    display: flex; /*Permite que as colunas fiquem lado a lado*/
    gap: 10px
}
/*configurações das colunas, centralização, cor */
.coluna {
    flex: 1;
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 8px;
       border: solid 5px rgb(153, 39, 39);
    min-height: 300px;
}

.card {
    background-color: blue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: grab;
}

@media (max-width: 600px){
    .Coluna{
        flex-direction: column
    }
}

